<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

        <!-- style -->
        <style>
            * {
                font-family: 'Noto Sans KR', sans-serif;
            }
            img {
                display: block;
                margin: 0px auto;
                width: 300px;
                height: auto;
                margin-bottom: 20px;
            }
            h5 {
                text-align: center;
                margin-bottom: 20px;
            }
            .login_layout{
                width: 300px;
                margin: auto;
            }
        </style>
        <script>
            $(document).ready(function () { //웹페이지 실행 시 db 내용들 카드로 띄우기
            });
            function login_site() {
                let user_id = $("#sign-id").val();
                let user_pw = $("#sign-pw").val();
               
                // 2. memo에 POST 방식으로 메모 생성 요청하기
                $.ajax({
                        type: "POST", // POST 방식으로 요청하겠다.
                        url: "/api/login", // /memo라는 url에 요청하겠다.
                        data: {user_id: user_id, password: user_pw}, // 데이터를 주는 방법
                        success: function (response) { // 성공하면
                            if(response == "fail"){
                                alert("아이디와 비밀번호를 확인하시길 바랍니다.")
                            }
                            else{
                                window.location.href='/mental_survey'
                            }
                          
                        }
                    })
                }
        
            function compare_id() { //카드 업데이트 함수(i를 받아오는 이유 : 카드를 만들 때 카드마다 별도의 id값을 만들어 i값을 통해 각각의 카드의 input과 textarea의 값을 받아오기 위함)
                let user_id_sent = $("#input-id").val();
                $.ajax({
                    type: "POST",
                    url: "/api/compare_id",
                    data: {user_id: user_id_sent},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert("생성완료")
                            window.location.reload()
                        }
                        else if(response['result'] == 'false'){
                            alert("존재하는 ID입니다.");
                        }else
                        {
                            alert("서버 오류");
                        }
                    }
                });
            }
        </script>
    </head>
    <body>
        <div style="margin: 80px;">
            <img src="..\static\logo.png">
            <h5><strong>LOGIN FOR JUNGLER MENTAL</strong></h5>
            <div class="login_layout">
                <div class="mb-3">
                    <input id="sign-id" class="form-control" placeholder="아이디">               
                </div>
                <div class="mb-3">
                    <input id="sign-pw" class="form-control" placeholder="비밀번호" type="password">                
                </div>          
                <div align="right">
                    <!-- 회원가입 버튼 클릭 시 회원가입 페이지로 이동 -->
                    <button class="btn btn-outline-success btn-sm" onclick="window.location.href='/sign_up'" type="submit" id="sign_up">회원가입</button>
    
                    <!-- DB에 있는 ID와 PW가 일치하면 메인페이지로 이동 -->
                    <button class="btn btn-outline-success btn-sm" id="login" type="submit" onclick="login_site()" id="login">로그인</button>
                </div>
            </div>
        </div>
      </div>
    </body>
</html>